/* You can add global styles to this file, and also import other style files */
.navigation{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigator{
    padding-left: 15px;
    padding-top: 15px;

}